<!doctype html>
<html lang="en" ng-app="webpadApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{doc_title}}<%= page_title %></title>
    <link rel="stylesheet" href="<%= host %>/css/style.css">
    <link rel="stylesheet" href="<%= host %>/css/jquery-ui.min.css">
    <link rel="stylesheet" href="<%= host %>/css/angular-ui-tree.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
    <script type="text/javascript" src="<%= host %>/js/angular-ui-tree.min.js"></script>
    <script type="text/javascript" src="<%= host %>/js/webpadApp.js"></script>
    <script type="text/javascript" src="<%= host %>/components/ace-builds/src-min/ace.js"></script>
    <script type="text/javascript" src="<%= host %>/components/ace-builds/src-min/ext-beautify.js"></script>
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
    <script type="text/javascript">
        $('document').ready(function()
        {
            $('<%= initElem %>').height($(window).height()-$('#header').height());
            $('<%= initElem %>').width($(window).width());
        });
    </script>
</head>
<body>
